################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ABookDB_V2/.vs/
/ABookDB_V2/.vs
/.vs/
.vs/
.vs