<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Startos)</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Startos.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand text-dark" asp-area="" asp-controller="Book" asp-action="Index">ABook DB_V2</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                @{
                    if (User.Identity?.IsAuthenticated ?? false)
                    {
                        <a class="nav-link text-dark" asp-controller="Book" asp-action="Create">Add book</a>
                    }
                }

                <div class="navbar-collapse collapse row">
                    <ul class="navbar-nav justify-content-end">
                        @{
                            @if (User.Identity?.IsAuthenticated ?? false)
                            {
                                <li class="nav-item dropdown">
                                    <a class="nav-link text-dark bg-light rounded-3 dropdown-toggle" href="#" data-bs-toggle="dropdown">@User.Identity.Name</a>
                                    <ul class="dropdown-menu">
                                        @* <li><a class="dropdown-item" asp-controller="User" asp-action="ProfileIndex">Profile</a></li>*@
                                        <li><a class="dropdown-item" asp-controller="Book" asp-action="">My books</a></li>
                                    </ul>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-controller="User" asp-action="LogOut">Log out</a>
                                </li>

                            }
                            else
                            {
                                <li class="nav-item float-end">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="User" asp-action="Register">Register</a>
                                </li>
                                <li>
                                    <a class="nav-link text-dark" asp-area="" asp-controller="User" asp-action="Login">Login</a>
                                </li>

                            }

                        }


                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <div class="row">
            <main role="main">
                @RenderBody()
            </main>
        </div>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2025 - Startos - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>