@model WebProject.ViewModels.Book.CreateVM
@{
    /*SelectList cats = new SelectList(Model.CategoryCreateVM.AllCategories);
    if (Model != null ? Model.SelectedCategories != null : false)
    {
        foreach (var item in cats)
        {
            if (Model.SelectedCategories.Any(c => c == item.Text))
            {
                item.Selected = true;
            }
        }

    }*/
   
}

<label asp-for="@Model.CategoryCreateVM.AllCategories" class="control-label"></label>
<select id="cats" asp-for="@Model.CategoryCreateVM.AllCategories" class="form-control" name="SelectedCategories[]" asp-items="@(Model.CategoryCreateVM.AllCategories)" multiple multiselect-search="true">
</select>
<span asp-validation-for="@Model.CategoryCreateVM.AllCategories" class="text-danger"></span>
<input type="button" onclick="$('#AddCategoryModal').modal('show')" class="btn btn-secondary w-100 mt-2" value="Add category" />

<script>
    
</script>